<%- model_class = Article -%>

<% @articles = @user.commented_articles.published.order("comments.created_at DESC") if @user %>
<% if @articles.present? %>
<ul>
	<% @articles.each do |article| %>
	<li>
		<%= link_to article.title, article %>
		by <%= user_image_tag article.author, height: 32 %><%= link_to article.author.full_name, user_path(article.author) %>
  	| <%= model_class.human_attribute_name(:released_at) %>：<%=l article.released_at %>
  	- <%= link_to "取消", [:unlike, article], method: :patch, data: { confirm: "取り消しますか？" } %>
	</li>
	<% end %>
</ul>
<% end %>