<div class="panel panel-default">
  <div class="panel-heading">最新の記事一覧</div>
  <ul class="list-group">
  	<% Article.all.readable_for(current_user).order(released_at: :desc).page(params[:page]).each do |article| %>
    <li class="list-group-item">
		<div class="media">
		  <%= user_image_tag article.author, class: "pull-left img-circle article-list-icon", height: 64 %>
		  <div class="media-body">
		    <div class="media-heading">
		    	<%= article_status(article) %>
		    	<%= link_to article.title, article_path(article) %>
		    </div>
		   	<%= link_to article.author.full_name, user_path(article.author) %>
		  	| <%= Article.human_attribute_name(:released_at) %>：<%=l article.released_at %>	  	
		  	<% if article.votes.count > 0 %>
		  	| <span class="label label-primary">★<%= article.votes.count %></span>
		  	<% end %>
		  </div>
		</div>
    </li>
    <% end %>
  </ul>
</div>
<%= paginate @articles %>