<%- model_class = Article -%>
<div class="page-header">
	<% @page_title = @user ? @user.full_name + "さんの投稿記事一覧" : "記事一覧" %>
  <h1><%= @page_title %></h1>
</div>

<% @articles.each do |article| %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
    	<%= link_to article.title, article_path(article) %>
    </h3>
  </div>
  <div class="panel-body">
    <%= markdown truncate(article.description, length: 100) %>
    <p><%= link_to "もっと読む", article %></p>
  </div>
  <div class="panel-footer">
  	by <%= user_image_tag article.author, height: 32 %><%= link_to article.author.full_name, [article.author, :articles] %>
  	| <%= model_class.human_attribute_name(:released_at) %>：<%=l article.released_at %>
  	
  	<% if article.votes.count > 0 %>
  	| <span class="vote">★<%= article.votes.count %></span>
  	<% end %>
  	 
  	<% if current_user %>
  	<%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_article_path(article), :class => 'btn btn-default btn-xs' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                article_path(article),
                :method => :delete,
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-xs btn-danger' %>
    <% end %>
 	</div>
</div>
<% end %>

<%= paginate @articles %>

<% if current_user %>
<p>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_article_path,
            :class => 'btn btn-primary' %>
</p>
<% end %>
