<%- model_class = Article -%>
<div class="page-header">
	<% @page_title = "投票した記事一覧" %>
  <h1><%= @page_title %></h1>
</div>

<% if @articles.present? %>
<ul>
	<% @articles.each do |article| %>
	<li>
		<%= link_to article.title, article %>
		by <%= user_image_tag article.author, height: 32 %><%= link_to article.author.full_name, [article.author, :articles] %>
  	| <%= model_class.human_attribute_name(:released_at) %>：<%=l article.released_at %>
  	- <%= link_to "取消", [:unlike, article], method: :patch, data: { confirm: "取り消しますか？" } %>
	</li>
	<% end %>
</ul>
<% end %>