<% if current_user %>
<p>
<%= current_user.full_name %>さん |
<%= link_to "ログアウト", :session,
      method: :delete, data: { confirm: "ログアウトしますか？" } %>
</p>
<% end %>
<div class="navbar navbar-default navbar-static-top">
	<div class="container">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" style="padding: 0;" href="/"><%= image_tag("logo.png", size: "135x50", alt: "Yiiter") %></a>
		<div class="navbar-collapse collapse navbar-responsive-collapse">
			<ul class="nav navbar-nav">
				<li>
					<%= link_to "HOME", :root %>
				</li>
				<li>
					<%= link_to "記事", :articles  %>
				</li>
				<% if current_user %>
				<li>
					<%= link_to "ユーザー", :users %>
				</li>
				<% end %>
			</ul>
		</div>
	</div>
</div>