<div class="well sidebar-nav">
<% if current_user %>
<p>
	<%= link_to "記事を作成する", :new_article %>
</p>
<p>
	<%= link_to "投票した記事", :voted_articles %>
</p>
<% end %>

<h2>最新記事</h2>
<ul>
	<% Article.sidebar_articles(current_user, 5).each do |article| %>
	<li>
		<%= link_to article.title, article %>
		<%- model_class = Article -%>
		by <%= link_to article.author.full_name, user_path(article.author) %>
  	<p><%=l article.released_at %></p>
	</li>
	<% end %>
</ul>
</div>
