<% @page_title = "マイアカウント変更" %>
<h1><%= @page_title %></h1>

<%= simple_form_for @user, as: "account", url: :account, :html => { :class => 'form-horizontal' } do |f| %>
  <label class="string control-label">ユーザーアイコン</label>
  <%= f.fields_for :image do |imgf| %>
    <%= imgf.file_field :uploaded_image %>
    <% if !imgf.object.new_record? && imgf.object.errors.empty? %>
    <div>
      <%= user_image_tag @user, class: "img-circle", width: 60 %>
      <%= imgf.check_box :_destroy %>
      <%= imgf.label :_destroy %>
      <%= imgf.hidden_field :id %>
    </div>
    <% end %>
  <% end %>

  <%= f.input :account_name %>
  <%= error_span(@user[:account_name]) %>
  <%= f.input :full_name %>
  <%= error_span(@user[:full_name]) %>
  <%= f.input :password %>
  <%= error_span(@user[:password]) %>
  <%= f.input :password_confirmation %>
  <%= error_span(@user[:password_confirmation]) %>
  <%= f.input :email %>
  <%= error_span(@user[:email]) %>
  <% if controller.kind_of?(UsersController) %>
  <%= f.input :administrator %>
  <%= error_span(@user[:administrator]) %>
  <% end %>
  
  <% unless @user.new_record? %>
  <p>パスワードを変更しない場合、パスワード入力欄は空にしてください。</p>
  <% end %>

  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                :back, :class => 'btn btn-default' %>
<% end %>


